.container {
  height: 100%;
  width: 100%;
  display: grid;

  .main-box {
    width: 50%;
    min-width: 20rem;
    border-radius: 8px;
    height: 60vh;
    place-self: center;
    place-content: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    gap: 2.5vh;
  }
}
