<div class="container">
  <div class="main-box">
    <form [formGroup]="form" class="login-box" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">login</button>
      <button mat-button type="button" (click)="changeTab.emit(1)">
        Register
      </button>
    </form>
  </div>
</div>
