.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 1px -1px rgb(0 0 0 / 17%), 0 2px 1px 0 rgb(0 0 0 / 12%),
    0 0px 6px 0 rgb(0 0 0 / 20%);
  padding: 0 20px;
  .navbar-items {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
  .user-info {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
}

.router {
  height: 88vh;
  padding: 0 30px;
  margin: 10px 0;
}
